@import "variables.less";

.gridStyle {
  border: none;
  width: 100%;
  height: 500px;

  .ngCellText {
     text-overflow: inherit;
     text-align: center;
     border: none;
     &.unknwon {
       background: url(../images/processing.gif) no-repeat center;
    }
  }
  .ngHeaderSortColumn {
    text-align: center;
  }
  .ngVerticalBarVisible {
    background: none;
  }

  .enableClick {
    color: #269BD8;
  }

  .ngViewport {
    height: auto !important;
  }
  .ngRow.even {
    background: @DATA_TABLE_EVEN_ROW_BG;
    &:hover {
      background: @DATA_TABLE_ROW_HOVER;
    }
  }
  .ngRow.odd {
    background: @DATA_TABLE_ODD_ROW_BG;
    &:hover {
      background: @DATA_TABLE_ROW_HOVER;
    }
  }
  .ngFooterPanel {
    background-color: @DATA_TABLE_EVEN_ROW_BG;
    border-top: none;
    .pageCode {
      width: 200px;
      height: 25px;
      float: right;
      li {
        list-style: none;
        float: left;
        display: block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
        &.pagetrue {
          background-color: @BUTTON_ENABLED_BG;
          color: #FFFFFF;
        }
      }
    }
  }
}

.ngHeaderContainer {
  background: @DATA_TABLE_HEADER_BG;
}

.ngRow.odd {
  background: #E1F2FF;
}
.ngRow.odd:hover {
  background: #FFFFFF;
}

#detail-container {
  height: 100px;
  width: 100px;
  background: red;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.instance_tabs {
  height: 35px;
  margin-bottom: 5px;
  border-bottom: 2px solid #DDDDDD;
  padding-left: 10px;
  li.tab {
      float: left;
      height: 35px;
      line-height: 35px;
      padding: 0px 5px 0px 5px;
      color: #696969;
      cursor: pointer;
  }
  .tab.active {
      background-color: #FFF;
      border-bottom: 2px solid #6FB6DA;
      color: #000;
  }
}
#mainView {
    clear: both;
    padding: 0 1em;
}

#viewOne {
  height: 600px;
  .action_group {
    margin: 10px 0px;
    .btn {
      margin: 0px 5px;
    }
  }
}

.detail-panel.ng-enter {
  -webkit-transition:left .5s ease-in;
  -moz-transition:left .5s ease-in;
  -o-transition:left .5s ease-in;
  transition:left .5s ease-in;
}

.detail-panel.detail_show.ng-enter-active {
}

.detail-panel.detail_show.ng-leave-active {
}

  .detail-panel.detail_hide{
    display: none;
  }

  .detail-panel.detail_show{
    position: absolute;
    z-index: 100;
    width: 450px;
    height: 500px;
    left: 850px;
    background: white;
    line-height: 30px;
    border: 1px solid #d4d4d4;
    .detail_tab {
      height: 30px; 
      background: #E1F2FF;
      li {
        float: left;
        height: 30px;
        line-height: 30px;
        padding-left: 3px;
        padding-right: 3px;
      }
    }
    .action_bar_in_detail {
      height: 30px;
      line-height: 40px;
    }
    .detail_info 
      .title {
        height: 35px; 
        background: #f3f3f3;
      }
      .detail_area {
        margin: 5px 0px;
      }
  }

.btn {
  padding: 3px 12px;
  &:active {
    -webkit-box-shadow: none;
    box-shandow: none;
    outline: none;
  }
  &:focus {
    outline: none;
    color: @BUTTON_DISABLEd_TEXT_COLOR;
  }
  &:active:focus {
    outline: none;
  }
}

.btn-disable {
  background: @BUTTON_DISABLED_BG;
  color: @BUTTON_DISABLEd_TEXT_COLOR;
  cursor: default;
  &:hover {
    color: @BUTTON_DISABLEd_TEXT_COLOR;
  }
}

.btn-enable {
  background: @BUTTON_ENABLED_BG;
  background-color: @BUTTON_ENABLED_BG;
  color: @BUTTON_ENABLED_TEXT_COLOR; 
  &:hover {
    background: @BUTTON_ENABLED_BG;
    background-color: @BUTTON_ENABLED_BG;
    color: @BUTTON_ENABLED_TEXT_COLOR; 
  }
  &:focus {
    outline: none;
    color: @BUTTON_ENABLED_TEXT_COLOR; 
  }
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: @BUTTON_ENABLED_BG;
  color: @BUTTON_ENABLED_TEXT_COLOR; 
}

.btn-group.open .dropdown-toggle.btn-default {
  background: @BUTTON_ENABLED_BG;
  background-color: @BUTTON_ENABLED_BG;
  color: @BUTTON_ENABLED_TEXT_COLOR; 
}

.btn-group {
   open .dropdown-toggle {
   }
  .dropdown-menu {
    min-width: 120px;
    width: 140px;
    border: 1px solid @BUTTON_ENABLED_BG;
    li { 
      display: block;
      &.split-line {
        height: 1px;
        background: @BUTTON_DISABLED_BG;
      }
      a {
        display: block;
        padding: 3px 10px;
        cursor: pointer;
        &:hover {
          background: @BUTTON_ENABLED_BG;
        }
        i {
          width: 15px;
          height: 15px;
          margin-top: 3px;
          margin-right: 3px;
          display: inline-block;
          float: left;
          background: url('../images/actions_icon.png');
          background-position: -20px 15px;
        }
      }
    }
  }
}
