/* Variables will be used in index page */

/* Min width of cross app */

/* Min height of cross app */

/* Background of app */

/* Left frame width of cross app */

/* Left frame background of cross app */

/* Top height of cross app */

/* Left logo background of cross app */

/* Top tool background of cross app */

/* Left nav bar item background */

/* Attr at data table */

/* Style of button for action */

/* left width of dashboard admin over view page */

/* top height of dashboard admin over view page */

/* Login container background-color */

/* Login container min-width */

/* Login container min-height */

/* Login container width */

/* Login container height */

/* Login logo image */

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.instance_tabs {
  height: 35px;
  padding-left: 10px;
  margin-bottom: 5px;
  border-bottom: 2px solid #DDDDDD;
}

.instance_tabs li.tab {
  float: left;
  height: 35px;
  padding: 0 5px 0px 5px;
  line-height: 35px;
  color: #696969;
  cursor: pointer;
}

.instance_tabs .tab.active {
  color: #000;
  background-color: #FFF;
  border-bottom: 2px solid #6FB6DA;
}

#mainView {
  padding: 0 1em;
  clear: both;
}

#viewOne {
  height: 600px;
}

#viewOne .action_group {
  margin: 10px 0;
}

#viewOne .action_group .btn {
  margin: 0 5px;
  border: none;
}

.detail-panel.ng-enter,
.detail-panel.ng-leave {
  position: absolute;
  right: 0;
  left: 300px;
  -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}

.detail-panel.ng-enter {
  opacity: 1;
  -webkit-transform: translate3d(500px, 0, 0);
     -moz-transform: translate3d(500px, 0, 0);
          transform: translate3d(500px, 0, 0);
}

.detail-panel.ng-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.detail-panel.ng-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.detail-panel.ng-leave-active {
  opacity: 1;
  -webkit-transform: translate3d(500px, 0, 0);
     -moz-transform: translate3d(500px, 0, 0);
          transform: translate3d(500px, 0, 0);
}

.detail-panel.detail_hide {
  display: none;
}

.detail-panel.detail_show {
  position: absolute;
  top: 38px;
  left: 280px;
  z-index: 100;
  width: 950px;
  line-height: 30px;
  background: white;
  border: 1px solid #d4d4d4;
}

.detail-panel.detail_show .detail_tab {
  height: 30px;
  background: #E1F2FF;
}

.detail-panel.detail_show .detail_tab li {
  float: left;
  height: 30px;
  line-height: 30px;
}

.detail-panel.detail_show .detail_tab li.active {
  background: #FFFFFF;
}

.detail-panel.detail_show .detail_tab li a {
  display: block;
  padding-right: 8px;
  padding-left: 8px;
  color: black;
}

.detail-panel.detail_show .detail_tab li a:hover {
  text-decoration: none;
}

.detail-panel.detail_show .console_area .vnc_tip {
  text-align: center;
}

.detail-panel.detail_show .console_area iframe {
  border: none;
}

.detail-panel.detail_show .close-detail {
  position: absolute;
  top: 260px;
  width: 30px;
  height: 60px;
  font-size: 30px;
  line-height: 60px;
  cursor: pointer;
  background: #CCE4F6;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.detail-panel.detail_show .action_bar_in_detail {
  height: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 35px;
  background: #EAF5FD;
}

.detail-panel.detail_show .action_bar_in_detail li {
  float: left;
  height: 35px;
  line-height: 35px;
}

.detail-panel.detail_show .action_bar_in_detail li.action_header {
  width: 70px;
  padding-left: 20px;
  margin-right: 10px;
  background: #CCE4F6;
}

.detail-panel.detail_show .action_bar_in_detail li a {
  padding: 3px 2px;
  padding-left: 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.detail-panel.detail_show .action_bar_in_detail li a:hover {
  color: white;
  text-decoration: none;
  background-color: #29AAEE;
}

.detail-panel.detail_show .action_bar_in_detail li a.edit {
  background-image: url('../images/action_edit_detail.png');
  background-position: 3px center;
  background-repeat: no-repeat;
}

.detail-panel.detail_show .action_bar_in_detail li a.edit:hover {
  background-image: url('../images/action_edit_detail_hover.png');
}

.detail-panel.detail_show .action_bar_in_detail li a.resize {
  background-image: url('../images/action_resize_detail.png');
  background-position: 3px center;
  background-repeat: no-repeat;
}

.detail-panel.detail_show .action_bar_in_detail li a.resize:hover {
  background-image: url('../images/action_resize_detail_hover.png');
}

.detail-panel.detail_show .action_bar_in_detail li a.delete {
  background-image: url('../images/action_delete_detail.png');
  background-position: 3px center;
  background-repeat: no-repeat;
}

.detail-panel.detail_show .action_bar_in_detail li a.delete:hover {
  background-image: url('../images/action_delete_detail_hover.png');
}

.detail-panel.detail_show .action_bar_in_detail li a.snapshot {
  background-image: url('../images/action_snapshot_detail.png');
  background-position: 3px center;
  background-repeat: no-repeat;
}

.detail-panel.detail_show .action_bar_in_detail li a.snapshot:hover {
  background-image: url('../images/action_snapshot_detail_hover.png');
}

.detail-panel.detail_show .action_bar_in_detail li a.reboot {
  background-image: url('../images/action_reboot_detail.png');
  background-position: 3px center;
  background-repeat: no-repeat;
}

.detail-panel.detail_show .action_bar_in_detail li a.reboot:hover {
  background-image: url('../images/action_reboot_detail_hover.png');
}

.detail-panel.detail_show .action_bar_in_detail li a.migrate {
  background-image: url('../images/action_migrate_detail.png');
  background-position: 3px center;
  background-repeat: no-repeat;
}

.detail-panel.detail_show .action_bar_in_detail li a.migrate:hover {
  background-image: url('../images/action_migrate_detail_hover.png');
}

.detail-panel.detail_show .action_bar_in_detail li a.suspend {
  background-image: url('../images/action_suspend_detail.png');
  background-position: 3px center;
  background-repeat: no-repeat;
}

.detail-panel.detail_show .action_bar_in_detail li a.suspend:hover {
  background-image: url('../images/action_suspend_detail_hover.png');
}

.detail-panel.detail_show .action_bar_in_detail li a.shutdown {
  background-image: url('../images/action_shutdown_detail.png');
  background-position: 3px center;
  background-repeat: no-repeat;
}

.detail-panel.detail_show .action_bar_in_detail li a.shutdown:hover {
  background-image: url('../images/action_shutdown_detail_hover.png');
}

.detail-panel.detail_show .detail_info .detail_title {
  height: 35px;
  padding-left: 10px;
  line-height: 35px;
  background: #f3f3f3;
}

.detail-panel.detail_show .detail_info .detail_area {
  margin: 5px 0;
}

.detail-panel.detail_show .detail_info .detail_area .item_name {
  float: left;
  width: 30%;
}

.detail-panel.detail_show .detail_info .detail_area .item_name li {
  text-align: right;
}

.detail-panel.detail_show .detail_info .detail_area .space {
  float: left;
  width: 6%;
  height: 100px;
}

.detail-panel.detail_show .detail_info .detail_area .item_value {
  float: left;
  width: 50%;
}

.detail-panel.detail_show .detail_info .detail_area .item_value li {
  white-space: nowrap;
}

.detail-panel.detail_show .detail_info .detail_area .item_value .ip-list {
  margin-right: 10px;
}

.detail-panel.detail_show .detail_info .detail_area .clear {
  clear: both;
}

.btn {
  padding: 3px 12px;
}

.btn:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shandow: none;
}

.btn:focus {
  color: #747474;
  outline: none;
}

.btn:active:focus {
  outline: none;
}

.btn.more {
  padding-left: 5px;
}

.btn.more i {
  display: inline-block;
  float: left;
  width: 15px;
  height: 15px;
  margin: 3px;
  background: url('../images/action_more_hover.png') no-repeat;
}

.btn-disable {
  color: #747474;
  cursor: default;
  background: #e3e3e3;
}

.btn-disable:hover {
  color: #747474;
}

.btn-disable.del {
  padding-left: 5px;
}

.btn-disable.del i {
  display: inline-block;
  float: left;
  width: 15px;
  height: 15px;
  margin: 3px;
  background: url('../images/action_delete.png') no-repeat;
}

.btn-disable.vnc {
  padding-left: 5px;
}

.btn-disable.vnc a {
  display: inline-block;
  color: #747474;
}

.btn-disable.vnc a:hover {
  text-decoration: none;
}

.btn-disable.vnc i {
  display: inline-block;
  float: left;
  width: 15px;
  height: 15px;
  margin: 3px;
  background: url('../images/action_vnc.png') no-repeat;
}

.btn-enable {
  color: #ffffff;
  background: #28a9ee;
  background-color: #28a9ee;
}

.btn-enable:hover {
  color: #ffffff;
  background: #28a9ee;
  background-color: #28a9ee;
}

.btn-enable:focus {
  color: #ffffff;
  outline: none;
}

.btn-enable.del {
  padding-left: 5px;
}

.btn-enable.del i {
  display: inline-block;
  float: left;
  width: 15px;
  height: 15px;
  margin: 3px;
  background: url('../images/action_delete_hover.png') no-repeat;
}

.btn-enable.vnc {
  padding-left: 5px;
}

.btn-enable.vnc a {
  color: white;
}

.btn-enable.vnc a:hover {
  text-decoration: none;
}

.btn-enable.vnc i {
  display: inline-block;
  float: left;
  width: 15px;
  height: 15px;
  margin: 3px;
  background: url('../images/action_console_hover.png') no-repeat;
}

.btn-group.open .dropdown-toggle {
  color: #ffffff;
  background: #28a9ee;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-group.open .dropdown-toggle.btn-default {
  color: #ffffff;
  background: #28a9ee;
  background-color: #28a9ee;
}

.btn-group .dropdown-menu {
  width: 140px;
  min-width: 120px;
  border: 1px solid #28a9ee;
}

.btn-group .dropdown-menu li {
  display: block;
}

.btn-group .dropdown-menu li.split-line {
  height: 1px;
  background: #e3e3e3;
}

.btn-group .dropdown-menu li a {
  display: block;
  padding: 3px 10px;
  cursor: pointer;
}

.btn-group .dropdown-menu li a:hover {
  color: white;
  background: #28a9ee;
}

.btn-group .dropdown-menu li a:hover i.attachIp {
  background: url('../images/action_attach_hover.png') no-repeat left center;
}

.btn-group .dropdown-menu li a:hover i.removeIP {
  background: url('../images/action_attachIp_hover.png') no-repeat left center;
}

.btn-group .dropdown-menu li a:hover i.reboot {
  background: url('../images/action_reboot_hover.png') no-repeat left center;
}

.btn-group .dropdown-menu li a:hover i.poweron {
  background: url('../images/action_poweron_hover.png') no-repeat left center;
}

.btn-group .dropdown-menu li a:hover i.poweroff {
  background: url('../images/action_poweroff_hover.png') no-repeat left center;
}

.btn-group .dropdown-menu li a:hover i.suspend {
  background: url('../images/action_suspend_hover.png') no-repeat left center;
}

.btn-group .dropdown-menu li a:hover i.migrate {
  background: url('../images/action_migrate_hover.png') no-repeat left center;
}

.btn-group .dropdown-menu li a:hover i.wakeup {
  background: url('../images/action_wakeup_hover.png') no-repeat left center;
}

.btn-group .dropdown-menu li a:hover i.resize {
  background: url('../images/action_resize_hover.png') no-repeat left center;
}

.btn-group .dropdown-menu li a:hover i.snapshot {
  background: url('../images/action_snapshot_hover.png') no-repeat left center;
}

.btn-group .dropdown-menu li a:hover i.attachVolume {
  background: url('../images/action_attachvolume_hover.png') no-repeat left center;
}

.btn-group .dropdown-menu li a:hover i.removeVolume {
  background: url('../images/action_removevolume_hover.png') no-repeat left center;
}

.btn-group .dropdown-menu li a i {
  display: inline-block;
  float: left;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 3px;
}

.btn-group .dropdown-menu li a i.reboot {
  background: url('../images/action_reboot.png') no-repeat left center;
}

.btn-group .dropdown-menu li a i.poweron {
  background: url('../images/action_poweron.png') no-repeat left center;
}

.btn-group .dropdown-menu li a i.poweroff {
  background: url('../images/action_poweroff.png') no-repeat left center;
}

.btn-group .dropdown-menu li a i.suspend {
  background: url('../images/action_suspend.png') no-repeat left center;
}

.btn-group .dropdown-menu li a i.snapshot {
  background: url('../images/action_snapshot.png') no-repeat left center;
}

.btn-group .dropdown-menu li a i.wakeup {
  background: url('../images/action_wakeup.png') no-repeat left center;
}

.btn-group .dropdown-menu li a i.resize {
  background: url('../images/action_resize_list.png') no-repeat left center;
}

.btn-group .dropdown-menu li a i.attachIp {
  background: url('../images/action_attachip.png') no-repeat left center;
}

.btn-group .dropdown-menu li a i.removeIP {
  background: url('../images/action_removeip.png') no-repeat left center;
}

.btn-group .dropdown-menu li a i.attachVolume {
  background: url('../images/action_attachvolume.png') no-repeat left center;
}

.btn-group .dropdown-menu li a i.removeVolume {
  background: url('../images/action_untachvolume.png') no-repeat left center;
}

.btn-group .dropdown-menu li a i.migrate {
  background: url('../images/action_migrate.png') no-repeat left center;
}

.table-tab {
  position: relative;
}

.ngCellText {
  height: 20px;
  padding: 0;
}

.ngCellText a {
  text-decoration: none;
}

.ngCellText li {
  list-style: none;
}

.ngCellText.status i {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-bottom: -4px;
}

.ngCellText.status.active i {
  background: url('../images/status_active.png') no-repeat left center;
}

.ngCellText.status.stoped i {
  background: url('../images/status_stop.png') no-repeat left center;
}

.ngCellText.status.abnormal i {
  background: url('../images/status_abnormal.png') no-repeat left center;
}

.ngCellText.status.unknwon i {
  width: 15px;
  height: 15px;
  background: url('../images/processing_status.png') no-repeat left center;
  -webkit-animation-delay: 0;
     -moz-animation-delay: 0;
      -ms-animation-delay: 0;
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
      -ms-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: loading;
     -moz-animation-name: loading;
      -ms-animation-name: loading;
  -webkit-animation-play-state: running;
     -moz-animation-play-state: running;
      -ms-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
          animation-timing-function: linear;
  animation-linearanimation-delay: 0;
}

.action_group {
  margin: 10px 0;
}

.log-area {
  max-height: 600px;
  overflow-y: auto;
}

#log-content {
  margin: 5px;
}