@import "variables.less";

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.instance_tabs {
  height: 35px;
  margin-bottom: 5px;
  border-bottom: 2px solid #DDDDDD;
  padding-left: 10px;
  li.tab {
      float: left;
      height: 35px;
      line-height: 35px;
      padding: 0px 5px 0px 5px;
      color: #696969;
      cursor: pointer;
  }
  .tab.active {
      background-color: #FFF;
      border-bottom: 2px solid #6FB6DA;
      color: #000;
  }
}
#mainView {
    clear: both;
    padding: 0 1em;
}

#viewOne {
  height: 600px;
  .action_group {
    margin: 10px 0px;
    .btn {
      margin: 0px 5px;
    }
  }
}

.detail-panel.ng-enter, .detail-panel.ng-leave {
  position: absolute;
  left: 300px;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

.detail-panel.ng-enter {
  opacity: 1;
  -webkit-transform:translate3d(500px, 0, 0);
  -moz-transform:translate3d(500px, 0, 0);
  transform:translate3d(500px, 0, 0);
}

.detail-panel.ng-enter-active {
  opacity: 1; 
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

.detail-panel.ng-leave {
  opacity: 1; 
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

.detail-panel.ng-leave-active {
  opacity: 1;
  -webkit-transform:translate3d(500px, 0, 0);
  -moz-transform:translate3d(500px, 0, 0);
  transform:translate3d(500px, 0, 0);
}

.detail-panel.detail_hide{
  display: none;
}

.detail-panel.detail_show{
  position: absolute;
  z-index: 100;
  width: 890px;
  left: 410px;
  background: white;
  line-height: 30px;
  border: 1px solid #d4d4d4;
  .detail_tab {
    height: 30px; 
    background: #E1F2FF;
    li {
      float: left;
      height: 30px;
      line-height: 30px;
      &.active {
        background: #FFFFFF;
      }
      a {
        color: black;
        display: block;
        padding-left: 8px;
        padding-right: 8px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .close-detail {
    height: 80px;
    width: 40px;
    line-height: 80px;
    position: absolute;
    background: #CCE4F6;
    top: 260px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
  }
  .action_bar_in_detail {
    height: 35px;
    line-height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #EAF5FD;
    li {
      height: 35px;
      line-height: 35px;
      float: left;
      &.action_header {
        padding-left: 20px;
        width: 70px;
        margin-right: 10px;
        background: #CCE4F6;
      }
      a {
        padding-left: 20px;
        padding: 3px 2px;
        margin-right: 10px;
        cursor: pointer;
        border-radius: 3px;
        &:hover {
          background: #29AAEE;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  .detail_info { 
    .detail_title {
      height: 35px; 
      line-height: 35px;
      background: #f3f3f3;
    }
    .detail_area {
      margin: 5px 0px;
      .item_name {
        width: 30%;
        float: left;
        li {
          text-align: right;
        }
      }
      .space {
        width: 6%;
        height: 100px;
        float: left;
      }
      .item_value {
        width: 50%;
        float: left;
        .ip-list {
          margin-right: 10px;
        }
      }
      .clear {
        clear: both;
      }
    }
}
}

.btn {
  padding: 3px 12px;
  &:active {
    -webkit-box-shadow: none;
    box-shandow: none;
    outline: none;
  }
  &:focus {
    outline: none;
    color: @BUTTON_DISABLEd_TEXT_COLOR;
  }
  &:active:focus {
    outline: none;
  }
}

.btn-disable {
  background: @BUTTON_DISABLED_BG;
  color: @BUTTON_DISABLEd_TEXT_COLOR;
  cursor: default;
  &:hover {
    color: @BUTTON_DISABLEd_TEXT_COLOR;
  }
}

.btn-enable {
  background: @BUTTON_ENABLED_BG;
  background-color: @BUTTON_ENABLED_BG;
  color: @BUTTON_ENABLED_TEXT_COLOR; 
  &:hover {
    background: @BUTTON_ENABLED_BG;
    background-color: @BUTTON_ENABLED_BG;
    color: @BUTTON_ENABLED_TEXT_COLOR; 
  }
  &:focus {
    outline: none;
    color: @BUTTON_ENABLED_TEXT_COLOR; 
  }
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: @BUTTON_ENABLED_BG;
  color: @BUTTON_ENABLED_TEXT_COLOR; 
}

.btn-group.open .dropdown-toggle.btn-default {
  background: @BUTTON_ENABLED_BG;
  background-color: @BUTTON_ENABLED_BG;
  color: @BUTTON_ENABLED_TEXT_COLOR; 
}

.btn-group {
   open .dropdown-toggle {
   }
  .dropdown-menu {
    min-width: 120px;
    width: 140px;
    border: 1px solid @BUTTON_ENABLED_BG;
    li { 
      display: block;
      &.split-line {
        height: 1px;
        background: @BUTTON_DISABLED_BG;
      }
      a {
        display: block;
        padding: 3px 10px;
        cursor: pointer;
        &:hover {
          background: @BUTTON_ENABLED_BG;
        }
        i {
          width: 15px;
          height: 15px;
          margin-top: 3px;
          margin-right: 3px;
          display: inline-block;
          float: left;
          background: url('../images/actions_icon.png');
          background-position: -20px 15px;
        }
      }
    }
  }
}
