.gridStyle {
  width: 100%;
  height: 500px;
  border: 1px solid #d4d4d4;
}

.gridStyle .ngCellText {
  text-align: center;
  text-overflow: inherit;
  border: none;
}

.gridStyle .ngCellText.unknwon {
  background: url(../images/processing.gif) no-repeat center;
}

.gridStyle .ngHeaderSortColumn {
  text-align: center;
}

.gridStyle .ngVerticalBarVisible {
  background: none;
}

.gridStyle .enableClick {
  color: #269BD8;
}

.gridStyle .ngViewport {
  height: auto !important;
}

.gridStyle .detail-panel {
  position: absolute;
  left: 450px;
  z-index: 100;
  width: 450px;
  height: 500px;
  line-height: 30px;
  background: white;
  border: 1px solid #d4d4d4;
}

.gridStyle .detail-panel .detail_tab {
  height: 30px;
  background: #E1F2FF;
}

.gridStyle .detail-panel .detail_tab li {
  float: left;
  height: 30px;
  padding-right: 3px;
  padding-left: 3px;
  line-height: 30px;
}

.gridStyle .detail-panel .action_bar_in_detail {
  height: 30px;
  line-height: 40px;
}

.gridStyle .detail-panel .detail_info .title {
  height: 35px;
  background: #f3f3f3;
}

.gridStyle .detail-panel .detail_area {
  margin: 5px 0;
}

.ngHeaderContainer {
  background: #E1F2FF;
}

.ngRow.odd {
  background: #E1F2FF;
}

.ngRow.odd:hover {
  background: #FFFFFF;
}

#detail-container {
  width: 100px;
  height: 100px;
  background: red;
}

.box {
  height: 100px;
  font-size: 86px;
  color: white;
  text-align: center;
}

.on {
  background-color: green;
}

.off {
  background-color: red;
}

.box-show-setup,
.box-hide-setup {
  -webkit-transition: all linear 0.3s;
     -moz-transition: all linear 0.3s;
      -ms-transition: all linear 0.3s;
       -o-transition: all linear 0.3s;
          transition: all linear 0.3s;
}

.box-show-setup {
  height: 0;
  opacity: 0;
}

.box-show-setup.box-show-start {
  height: 100px;
  opacity: 1;
}

.box-hide-setup {
  height: 0;
  opacity: 1;
}

.box-hide-setup.box-hide-start {
  height: 100px;
  opacity: 0;
}

.animate-enter,
.animate-leave {
  position: relative;
  display: block;
  transition: 500ms ease-in all;
}

.animate-enter.animate-enter-active,
.animate-leave {
  left: 0;
}

.animate-leave.animate-leave-active,
.animate-enter {
  left: 500px;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave {
  position: relative;
  display: block;
  transition: 500ms ease-in all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  left: 500px;
}

.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  left: 0;
}

.my-show-hide-animation.ng-hide-add,
.my-show-hide-animation.ng-hide-remove {
  position: relative;
  display: block!important;
  -webkit-transition: 0.5s linear all;
          transition: 1.5s ease-in all;
}

.my-show-hide-animation.ng-hide {
  left: 500px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.instance_tabs {
  height: 35px;
  padding-left: 10px;
  margin-bottom: 5px;
  border-bottom: 2px solid #DDDDDD;
}

.instance_tabs li.tab {
  float: left;
  height: 35px;
  padding: 0 5px 0px 5px;
  line-height: 35px;
  color: #696969;
  cursor: pointer;
}

.instance_tabs .tab.active {
  color: #000;
  background-color: #FFF;
  border-bottom: 2px solid #6FB6DA;
}

#mainView {
  padding: 0 1em;
  clear: both;
}

#viewOne {
  height: 600px;
}

#viewOne .action_group {
  margin: 10px 0;
}