.container {
  max-width: 730px;
  .login-container {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    .logo-area {
      margin: 0 auto;
      width: 140px;
      height: 45px;
      background: url('../images/logo_login.png') no-repeat left center;
    }
    input {
      width: 230px;
      margin-top: 5px;
    }
    #login_submit {
      width: 230px;
      margin-top: 30px;
    }
  }
}
