/* Space out content a bit */
@import "variables.less";

body {
  padding: 0;
}

.cross-index {
  width: 100%;
  min-width: @APP_MIN_WIDTH;
  height: 100%;
  background: @APP_BACKGROUND;
  over-flow: auto;

  & > .cross-frame-left {
    position: absolute;
    height: 100%;
    width: @APP_FRAME_LEFT_WIDTH;
    background: @APP_FRAME_LEFT_BACKGROUND;

    & > .cross-tool-nav-logo {
      background: @APP_FRAME_LEFT_LOGO_BACKGROUND;
      height: @APP_TOP_HEIGHT;
    }

    & > .cross-tool-nav {
      margin-top: 10px;

      & > .cross-tool-nav-bar {
        padding: 0;
        list-style: none;
        margin: 5px 0 5px 0;
      }

      .cross-tool-nav-bar .nav-title-lead {
        height: 40px;
        margin-left: 30px;
        line-height: 40px;
        cursor: pointer;
        .crossLeftNavLeadFont();

        & > i {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 10px;
          vertical-align: middle;
          background: url(../images/cross-nav-system.jpg) no-repeat;
        }
        @import "nav_lead.less";
      }

      .cross-tool-nav-bar .nav-title-item > a {
        height: 28px;
        display: block;
        line-height: 28px;
        padding-left: 60px;
        margin: 5px 0 5px 0;
        cursor: pointer;
        text-decoration: none;
        .crossLeftNavItemFont();
        &.active {
          background-color: @APP_LEFT_NAV_ITEM_ACTIVE_COLOR;
          &:hover {
            background-color: @APP_LEFT_NAV_ITEM_ACTIVE_COLOR;
          }
        }
        &:hover {
          background-color: @APP_LEFT_NAV_ITEM_HOVER_COLOR;
        }
      }
    }
  }

  & > .cross-frame-main {
    margin-left: @APP_FRAME_LEFT_WIDTH;
    height: 100%;

    & > .cross-frame-main-top-tool {
      background: @APP_FRAME_TOP_TOOL_BACKGROUND;
      height: @APP_TOP_HEIGHT;
    }
  }
}
