/* Space out content a bit */

/* Variables will be used in index page */

/* Min width of cross app */

/* Min height of cross app */

/* Background of app */

/* Left frame width of cross app */

/* Left frame background of cross app */

/* Top height of cross app */

/* Left logo background of cross app */

/* Top tool background of cross app */

/* Left nav bar item background */

/* Attr at data table */

/* Style of button for action */

body {
  padding: 0;
}

.cross-index {
  width: 100%;
  height: 100%;
  min-width: 1024px;
  background: #ffffff;
  over-flow: auto;
}

.cross-index > .cross-frame-left {
  position: absolute;
  width: 172px;
  height: 100%;
  background: #2c4a67;
}

.cross-index > .cross-frame-left > .cross-tool-nav-logo {
  height: 45px;
  background: #242424 url(../images/logo.jpg) 25px 6px no-repeat;
}

.cross-index > .cross-frame-left > .cross-tool-nav {
  margin-top: 10px;
}

.cross-index > .cross-frame-left > .cross-tool-nav > .cross-tool-nav-bar {
  padding: 0;
  margin: 5px 0 5px 0;
  list-style: none;
}

.cross-index > .cross-frame-left > .cross-tool-nav .cross-tool-nav-bar .nav-title-lead {
  height: 40px;
  margin-left: 30px;
  font-size: 15px;
  font-weight: 600;
  line-height: 40px;
  color: #ffffff;
  cursor: pointer;
}

.cross-index > .cross-frame-left > .cross-tool-nav .cross-tool-nav-bar .nav-title-lead > i {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
  background: url(../images/cross-nav-system.jpg) no-repeat;
}

.cross-index > .cross-frame-left > .cross-tool-nav .cross-tool-nav-bar .nav-title-lead .cross-nav-system {
  background: url(../images/cross-nav-system.jpg) no-repeat;
}

.cross-index > .cross-frame-left > .cross-tool-nav .cross-tool-nav-bar .nav-title-item > a {
  display: block;
  height: 28px;
  padding-left: 60px;
  margin: 5px 0 5px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.cross-index > .cross-frame-left > .cross-tool-nav .cross-tool-nav-bar .nav-title-item > a.active {
  background-color: #269bd8;
}

.cross-index > .cross-frame-left > .cross-tool-nav .cross-tool-nav-bar .nav-title-item > a.active:hover {
  background-color: #269bd8;
}

.cross-index > .cross-frame-left > .cross-tool-nav .cross-tool-nav-bar .nav-title-item > a:hover {
  background-color: #375a7c;
}

.cross-index > .cross-frame-main {
  height: 100%;
  margin-left: 172px;
}

.cross-index > .cross-frame-main > .cross-frame-main-top-tool {
  height: 45px;
  background: #323232;
}