@import "variables.less";

.gridStyle {
  border: none;
  width: 100%;
  height: 500px;

  .ngHeaderContainer {
    background: @DATA_TABLE_HEADER_BG;
  }

  .ngCellText {
     text-overflow: inherit;
     text-align: center;
     border: none;
     &.status {
      text-align: center;
      padding-left: 15px;
      &.unknwon {
       background: url(../images/processing.gif) no-repeat center;
      }
    }
  }
  .ngHeaderSortColumn {
    text-align: center;
  }
  .ngVerticalBarVisible {
    background: none;
  }

  .enableClick {
    color: @LINK_COLOR;
    a:hover {
      text-decoration: none;
    }
  }

  .ngViewport {
    height: auto !important;
  }
  .ngRow.even {
    background: @DATA_TABLE_EVEN_ROW_BG;
    &:hover {
      background: @DATA_TABLE_ROW_HOVER; }
  }
  .ngRow.odd {
    background: @DATA_TABLE_ODD_ROW_BG;
    &:hover {
      background: @DATA_TABLE_ROW_HOVER;
    }
  }

}

.cross-data-table {
  table-layout : fixed;
  thead tr th, tfoot tr td{
    text-align: center;
    border: none;
    span {
      white-space: nowrap;
    }
  }
  text-align: center;
  .cross-data-table-header {
    background-color: #CCE4F6;
    border: none;
  }
  /* End of .cross-data-table-header */

  .cross-data-table-body {
    .cross-data-table-body-row {
      &.even {
        background: #ffffff;
        &:hover {
          background: #CCE4F6;
        }
      }
      &.odd {
        background: #F2F2F2;
        &:hover {
          background: #E1F2FF;
        }
      }
      .cross-data-table-body-cell {
        white-space: nowrap;
        word-break : keep-all;
        overflow: hidden;
        border: none;
      }
    }
  }
  /* End of .cross-data-table-body */

  .clear {
    clear: both;
  }

  .name, .project, .hypervisor_hostname {
    width: 18%;
  }
  .fixed, .floating {
    width: 10%;
  }
  .vcpus, .ram {
    width: 7%;
  }
  .checkbox-in-table {
    width: 3%;
    border: none;
  }
}

.ngFooterPanel {
  background-color: @DATA_TABLE_EVEN_ROW_BG;
  border-top: none;
  .pageCode {
    width: 160px;
    height: 25px;
    float: right;
    margin-left: 20px;
    margin-top: 10px;
    li {
      list-style: none;
      float: left;
      display: block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      border-radius: 10px;
      cursor: pointer;
      &.pagetrue {
        background-color: @BUTTON_ENABLED_BG;
        color: @ACTIVE_TEXT_COLOR;
      }
      &.change-page {
        border-radius: 0px;
        &:hover {
          background-color: @BUTTON_ENABLED_BG;
          color: @ACTIVE_TEXT_COLOR;
        }
      }
    }
  }
}
