/* Variables will be used in index page */

/* Min width of cross app */

/* Min height of cross app */

/* Background of app */

/* Left frame width of cross app */

/* Left frame background of cross app */

/* Top height of cross app */

/* Left logo background of cross app */

/* Top tool background of cross app */

/* Left nav bar item background */

/* Attr at data table */

/* Style of button for action */

/* left width of dashboard admin over view page */

/* top height of dashboard admin over view page */

/* Login container background-color */

/* Login container min-width */

/* Login container min-height */

/* Login container width */

/* Login container height */

/* Login logo image */

.gridStyle {
  width: 100%;
  height: 500px;
  border: none;
}

.gridStyle .ngHeaderContainer {
  background: #cce4f6;
}

.gridStyle .ngCellText {
  text-align: center;
  text-overflow: inherit;
  border: none;
}

.gridStyle .ngCellText.status {
  padding-left: 15px;
  text-align: center;
}

.gridStyle .ngCellText.status.unknwon {
  background: url(../images/processing.gif) no-repeat center;
}

.gridStyle .ngHeaderSortColumn {
  text-align: center;
}

.gridStyle .ngVerticalBarVisible {
  background: none;
}

.gridStyle .enableClick {
  color: #269bd8;
}

.gridStyle .enableClick a:hover {
  text-decoration: none;
}

.gridStyle .ngViewport {
  height: auto !important;
}

.gridStyle .ngRow.even {
  background: #ffffff;
}

.gridStyle .ngRow.even:hover {
  background: #e1f2ff;
}

.gridStyle .ngRow.odd {
  background: #f2f2f2;
}

.gridStyle .ngRow.odd:hover {
  background: #e1f2ff;
}

.cross-data-table {
  text-align: center;
  table-layout: fixed;
}

.cross-data-table thead tr th,
.cross-data-table tfoot tr td {
  text-align: center;
  border: none;
}

.cross-data-table thead tr th span,
.cross-data-table tfoot tr td span {
  white-space: nowrap;
}

.cross-data-table .cross-data-table-header {
  background-color: #CCE4F6;
  border: none;
}

.cross-data-table .cross-data-table-body .cross-data-table-body-row.even {
  background: #ffffff;
}

.cross-data-table .cross-data-table-body .cross-data-table-body-row.even:hover {
  background: #CCE4F6;
}

.cross-data-table .cross-data-table-body .cross-data-table-body-row.odd {
  background: #F2F2F2;
}

.cross-data-table .cross-data-table-body .cross-data-table-body-row.odd:hover {
  background: #E1F2FF;
}

.cross-data-table .cross-data-table-body .cross-data-table-body-row .cross-data-table-body-cell {
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
  border: none;
}

.cross-data-table .clear {
  clear: both;
}

.cross-data-table .name,
.cross-data-table .project,
.cross-data-table .hypervisor_hostname {
  width: 18%;
}

.cross-data-table .fixed,
.cross-data-table .floating {
  width: 10%;
}

.cross-data-table .vcpus,
.cross-data-table .ram {
  width: 7%;
}

.cross-data-table .checkbox-in-table {
  width: 3%;
  border: none;
}

.ngFooterPanel {
  background-color: #ffffff;
  border-top: none;
}

.ngFooterPanel .pageCode {
  float: right;
  width: 160px;
  height: 25px;
  margin-top: 10px;
  margin-left: 20px;
}

.ngFooterPanel .pageCode li {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  list-style: none;
  cursor: pointer;
  border-radius: 10px;
}

.ngFooterPanel .pageCode li.pagetrue {
  color: #ffffff;
  background-color: #28a9ee;
}

.ngFooterPanel .pageCode li.change-page {
  border-radius: 0;
}

.ngFooterPanel .pageCode li.change-page:hover {
  color: #ffffff;
  background-color: #28a9ee;
}