/* Style of top nav bar */
@import "variables.less";

#top_bar {
  @top_bar_height: 45px;
  background: @TOP_BAR_BG;
  #user_info {
    float: right;
    ul {
      li {
        float: left;
        list-style: none;
        color: white;
        margin: 0px 5px;
      }
    }
  }
}
