/* Variables will be used in index page */

/* Min width of cross app */
@APP_MIN_WIDTH: 1024px;

/* Min height of cross app */
@APP_MIN_HEIGHT: 600px;

/* Background of app */
@APP_BACKGROUND: #ffffff;

/* Left frame width of cross app */
@APP_FRAME_LEFT_WIDTH: 172px;

/* Left frame background of cross app */
@APP_FRAME_LEFT_BACKGROUND: #2c4a67;

/* Top height of cross app */
@APP_TOP_HEIGHT: 45px;

@TOP_BAR_BG: #323232;

@TOP_LOGO_BG: #242424;

/* Left logo background of cross app */
@APP_FRAME_LEFT_LOGO_BACKGROUND: #242424 url(../images/logo.png) 25px 10px no-repeat;

/* Top tool background of cross app */
@APP_FRAME_TOP_TOOL_BACKGROUND: #323232;

/* Left nav bar item background */
@APP_LEFT_NAV_ITEM_ACTIVE_COLOR: #269BD8;

@APP_LEFT_NAV_ITEM_HOVER_COLOR: #375A7C;

/* Attr at data table */
@DATA_TABLE_HEADER_BG: #CCE4F6;
@DATA_TABLE_ODD_ROW_BG: #F2F2F2;
@DATA_TABLE_EVEN_ROW_BG: #FFFFFF;
@DATA_TABLE_ROW_HOVER: #E1F2FF;

/* Style of button for action */
@BUTTON_DISABLED_BG: #E3E3E3;
@BUTTON_DISABLEd_TEXT_COLOR: #747474;
@BUTTON_ENABLED_BG: #28A9EE;
@BUTTON_ENABLED_TEXT_COLOR: #FFFFFF;
@BUTTON_DANGER_BG: #E15A67;
@BUTTON_HOVER_BG: #28A9EE;

@LINK_COLOR: #269BD8;

@ACTIVE_TEXT_COLOR: #FFFFFF;

.crossLeftNavLeadFont() {
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
}

.crossLeftNavItemFont() {
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
}

/* left width of dashboard admin over view page */
@DASHBOARD_ADMIN_OVERVIEW_RIGHT_WIDTH: 280px;

/* top height of dashboard admin over view page */
@DASHBOARD_ADMIN_OVERVIEW_TOP_HEIGHT: 300px;

.lineGradient(@width, @color){
    width: @width;
    height: 1px;
}

.horizontal(@color: #000;@height:1px;) {
  background-image: -webkit-linear-gradient(left, #fff 0%, @color 50%, #fff 100%);
  background-image: -o-linear-gradient(left, #fff 0%, @color 50%, #fff 100%);
  background-image: -webkit-gradient(linear, left, right, from(#fff), color-to(50%, @color), color-to(100%, @color));
  background-image: linear-gradient(to right, #fff 0%, @color 50%, #fff 100%);
  background-repeat: repeat-x;
  height: @height;
}

.vertical(@color: #000;@width: 1px;) {
  background-image: -webkit-linear-gradient(top, #fff 0%, @color 50%, #fff 100%);
  background-image: -o-linear-gradient(top, #fff 0%, @color 50%, #fff 100%);
  background-image: -webkit-gradient(linear, top, bottom, from(#fff), color-to(50%, @color), color-to(100%, @color));
  background-image: linear-gradient(to bottom, #fff 0%, @color 50%, #fff 100%);
  background-repeat: repeat-x;
  width: @width;
}

/* Login container background-color */
@LOGIN_BACK_COLOR: #2c4a67;

/* Login container min-width */
@LOGIN_MIN_WIDTH: 400px;

/* Login container min-height */
@LOGIN_MIN_HEIGHT: 400px;

/* Login container width */
@LOGIN_WIDTH: 360px;

/* Login container height */
@LOGIN_HEIGHT: 240px;

/* Login logo image */
@LOGIN_LOGO_IMAGE: url(../images/logo_login.png) center no-repeat;
