<div class='action_bar_in_detail'>
  <ul>
  <li class='action_header'>Actions</li>
  <li ng-repeat='action in actionList'><a ng-click="serverAction(action.name)">{{action.verbose}}</a></li>
  </ul>
</div>

<div class='base_info detail_info'>
  <div class='detail_title'>Detail info</div>
  <div class='detail_area'>
    <div class='item_name'>
      <ul>
        <li>Name</li>
        <li>Id</li>
        <li>Status</li>
        <li>Host</li>
        <li>Project</li>
        <li>Fixed IP</li>
        <li>Floating IP</li>
      </ul>
    </div>
    <div class='space'></div>
    <div class='item_value'>
      <ul>
        <li>{{server_detail.name}}</li>
        <li>{{server_detail.id}}</li>
        <li>{{server_detail.status}}</li>
        <li>{{server_detail.hypervisor_hostname}}</li>
        <li>{{server_detail.project}}</li>
        <li><span class='ip-list' ng-repeat='ip in server_detail.fixed'>{{ip}}</span></li>
        <li><span class='ip-list' ng-repeat='ip in server_detail.floating'>{{ip}}</span></li>
      </ul>
    </div>
    <div class='clear'></div>
  </div>
</div>

<div class='other_info detail_info'>
  <div class='detail_title'>Flavor Info</div>
  <div class='detail_area'>
    <div class='item_name'>
      <ul>
        <li>VCPUS</li>
        <li>RAM</li>
      </ul>
    </div>
    <div class='space'></div>
    <div class='item_value'>
      <ul>
        <li>{{server_detail.vcpus}}</li>
        <li>{{server_detail.ram}}</li>
      </ul>
    </div>
    <div class='clear'></div>
  </div>
</div>
