<div>
  <div class='instance_tabs'>
    <ul>
        <li ng-repeat="tab in tabs"
            ng-class="{active:isActiveTab(tab.template)}"
            class="tab"
            ng-click="onClickTab(tab)">{{tab.title}}</li>
    </ul>
  </div>

<div id="mainView">
    <div ng-include="currentTab"></div>
</div>

<script type="text/ng-template" id="one.tpl.html">
    <div id="viewOne">
      <div class='action_group'>
          <button class='btn' ng-class="batchActionEnableClass">VNC Console</button>
        <button class='btn' ng-class="batchActionEnableClass" ng-click='deleteServer()'>Delete</button>
        <div class="btn-group">
        <button type="button"ng-class="batchActionEnableClass" class="btn btn-default dropdown-toggle btn-enable" data-toggle="dropdown">
          More Action
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="action in batchActions">
          <a ng-click="serverAction($index, 'batch')"><i ng-class={{action['action']}}></i>{{action.verbose}}</a></li>
          <li class='split-line'></li>
          <li ng-repeat="action in mantanceActions">
          <a ng-click="serverAction('{{action.action}}')"><i ng-class="action.action"></i>{{action.verbose}}</a></li>
          <li class='split-line'></li>
          <li ng-repeat="action in networkActions">
          <a ng-click="serverAction('{{action.action}}')"><i ng-class="action.action"></i>{{action.verbose}}</a></li>
          <li class='split-line'></li>
          <li ng-repeat="action in volumeActions">
          <a ng-click="serverAction('{{action.action}}')"><i ng-class="action.action"></i>{{action.verbose}}</a></li>
        </ul>
        </div>
      </div>
        <div class="gridStyle ui-view-container" ng-grid="gridOptions">
          <div ui-view ng-init="detail_show='detail_hide'" class="detail-panel" ng-class={{"detail_show"}} ng-style="{height: detailHeight, minHeight: 480, width: detailWidth}"></div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="two.tpl.html">
    <div id="viewTwo">
        <h1 ng-show='selectedItems'>{{selectedItems}}</h1>
    </div>
</script>

<script type="text/ng-template" id="three.tpl.html">
    <div id="viewThree">
        <h1>View Three</h1>
    </div>
</script>

<script type="text/ng-template" id="ng-grid-footer">
<div ng-show="showFooter" class="ngFooterPanel" ng-class="{'ui-widget-content': jqueryUITheme, 'ui-corner-bottom': jqueryUITheme}" ng-style="footerStyle()">
  <div class="ngTotalSelectContainer" >
    <div class="ngFooterTotalItems" ng-class="{'ngNoMultiSelect': !multiSelect}" >
      <span class="ngLabel">{{i18n.ngTotalItemsLabel}} {{maxRows()}}</span><span ng-show="filterText.length > 0" class="ngLabel">({{i18n.ngShowingItemsLabel}} {{totalFilteredItemsLength()}})</span>
    </div>
    <div class="ngFooterSelectedItems" ng-show="multiSelect">
      <span class="ngLabel">{{i18n.ngSelectedItemsLabel}} {{selectedItems.length}}</span>
    </div>
  </div>
  <div class='pageCode'>
      <li ng-show='unFristPage' ng-click="gotoPage('pre')" class="change-page">&lt;&lt;</li>
      <li ng-repeat="page in showPages" class="page{{page+1==pagingOptions.currentPage }}" ng-click="gotoPage($index)">{{ page + 1 }}</li>
      <li ng-show='unLastPage' ng-click="gotoPage('next')" class="change-page">&gt;&gt;</li>
  </div>
</div>
</script>
</div>
