<!-- cross application index -->
<div class="cross-index">
  <!-- cross left tool bar -->
  <div class="cross-frame-left">
    <div class="cross-tool-nav-logo">
    </div>
    <div class="cross-tool-nav" ng-controller='navbarCtrl'>
      <accordion close-others='true' class='cross-tool-nav-bar'>
      <accordion-group ng-repeat="dashboard in $dashboards" is-open="{true:'true'}[dashboard.slug==currentDashboardSlug]">
          <accordion-heading>
          <i class="cross-nav-{{dashboard.slug}}"></i>{{dashboard.name}}
          </accordion-heading>
          <div class="nav-title-item" ng-repeat="panel in dashboard.panels">
              <a ui-sref="{{$view}}.{{panel.slug}}" ng-class="{true: 'active'}[panel.slug==currentPanelSlug]">{{panel.name}}</a></div>
        </accordion-group>
      </accordion>
    </div>
  </div>

  <!-- cross main view page -->
  <div class="cross-frame-main">
    <div class="cross-frame-main-top-tool">
        <ng-include src="'views/common/_nav_top.html'"></ng-include>
    </div>
    <div class="cross-frame-main-center" ui-view></div>
  </div>
</div>
