<form method="post" action="" id="_modal_{{modal.slug}}" autocomplete="off">
  <div ng-show="modal.globalTip" class="modal-global-tip">{{modal.globalTip}}</div>
  <div ng-if="modal.single">
    <div class="fields-area">
      <div ng-show="field.type!='hidden'" class="field-{{field.slug}} field" ng-repeat="field in modal.fields">
        <div class="field-label {{field.inLine?'field-next-line':''}}">{{field.label}}</div>
        <div class="field-input" ng-if="field.tag == 'input'">
          <div ng-show="tips[field.slug]" class="modal-tip">
            <div>{{tips[field.slug]}}</div>
            <div class="tips-pointer">
              <span class="tips-pointer-outer"></span>
              <span class="tips-pointer-inner"></span>
            </div>
          </div>
          <div ng-if="field.type!='checkbox-list'">
            <input ng-change="validator(field.slug)"
                   class="{{field.classes?field.classes:''}} {{tips[field.slug]?'invalid':''}}"
                   name="{{field.slug}}" ng-model="form[field.slug]"
                   type="{{field.type?field.type:'text'}}"
                   ng-attr-placeholder="{{field.placeholder?field.placeholder:''}}"/>
          </div>
          <div ng-if="field.type=='checkbox-list'">
            <div class="checkbox-list-field" ng-repeat="opt in field.default">
              <input ng-click="validator(field.slug)"
                     type="checkbox" checklist-model="form[field.slug]"
                     checklist-value="opt.value">{{opt.text}}
            </div>
          </div>
        </div>
        <div class="field-input" ng-if="field.tag == 'textarea'">
          <div ng-show="tips[field.slug]" class="modal-tip">
            <div>{{tips[field.slug]}}</div>
            <div class="tips-pointer">
              <span class="tips-pointer-outer"></span>
              <span class="tips-pointer-inner"></span>
            </div>
          </div>
          <textarea ng-change="validator(field.slug)" name="{{field.slug}}"
                    class="{{field.classes?field.classes:''}} {{tips[field.slug]?'invalid':''}}"
                    ng-model="form[field.slug]"
                    ng-attr-placeholder="{{field.placeholder?field.placeholder:''}}"></textarea>
        </div>
        <div class="field-input" ng-if="field.tag == 'select'">
          <div ng-show="tips[field.slug]" class="modal-tip">
            <div>{{tips[field.slug]}}</div>
            <div class="tips-pointer">
              <span class="tips-pointer-outer"></span>
              <span class="tips-pointer-inner"></span>
            </div>
          </div>
          <select ng-change="validator(field.slug)" name="{{field.slug}}"
                  class="selectDirective {{field.classes?field.classes:''}} {{tips[field.slug]?'invalid':''}}"
                  ng-attr-placeholder="{{field.placeholder?field.placeholder:''}}"
                  ng-model="form[field.slug]" val="field.default"
                  ng-options="opt.value as opt.text group by opt.group for opt in field.default">
          </select>
        </div>
      </div>
    </div>
    <div class="cross-modal-footer">
      <button class="btn" name="cancel" ng-click="close()">{{note.modal.cancel}}</button>
      <button class="btn" name="submit" type="submit" ng-click="handle()">{{note.modal.save}}</button>
    </div>
  </div>
  <div ng-if="!modal.single">
    <div class="step-header">
      <div class="step-header-empty"></div>
      <div class="step-notes">
        <table ng-if="!modal.parallel">
          <tr>
            <td class="step-item {{$index<=modal.stepIndex?'active':''}}"
                ng-repeat="step in modal.steps">
              <div class="step-inner">
                <div class="step-lead-field">
                  <div class="step-note">{{step.name}}</div>
                  <div class="step-index">{{$index + 1}}</div>
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div ng-if="modal.parallel" class="step-parallel">
          <div class="step-tab {{$index==modal.stepIndex?'active':''}}"
               ng-repeat="step in modal.steps"
               ng-click="jumpStep(step.slug, $index)">
            {{step.name}}
          </div>
          <div class="step-bottom">
            <div class="step-index" style="left: {{modal.stepIndex * 100}}px;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="fields-area">
      <div class="modal-steps" style="left: -{{modal.stepIndex * 450}}px;">
        <div ng-repeat="step in modal.steps"
             class="modal-step modal-step-count{{$index}}">
          <div ng-show="field.type!='hidden'" class="field-{{field.slug}} field" ng-repeat="field in step.fields">
            <div class="field-label {{field.inLine?'field-next-line':''}}">{{field.label}}</div>
            <div class="field-input" ng-if="field.tag == 'input'">
              <div ng-show="tips[step.slug][field.slug]" class="modal-tip">
                <div>{{tips[step.slug][field.slug]}}</div>
                <div class="tips-pointer">
                  <span class="tips-pointer-outer"></span>
                  <span class="tips-pointer-inner"></span>
                </div>
              </div>

              <div ng-if="field.type!='checkbox-list'">
                <input ng-change="validator(field.slug, step.slug)"
                       class="{{field.classes?field.classes:''}} {{tips[step.slug][field.slug]?'invalid':''}}"
                       name="{{field.slug}}"
                       ng-model="form[step.slug][field.slug]"
                       type="{{field.type?field.type:'text'}}"
                       ng-attr-placeholder="{{field.placeholder?field.placeholder:''}}"/>
              </div>
              <div ng-if="field.type=='checkbox-list'">
                <div class="checkbox-list-field" ng-repeat="opt in field.default">
                  <input ng-click="validator(field.slug, step.slug)"
                         type="checkbox" checklist-model="form[step.slug][field.slug]"
                         checklist-value="opt.value">{{opt.text}}
                </div>
              </div>
            </div>
            <div class="field-input" ng-if="field.tag == 'textarea'">
              <div ng-show="tips[step.slug][field.slug]" class="modal-tip">
                <div>{{tips[step.slug][field.slug]}}</div>
                <div class="tips-pointer">
                  <span class="tips-pointer-outer"></span>
                  <span class="tips-pointer-inner"></span>
                </div>
              </div>
              <textarea ng-change="validator(field.slug, step.slug)"  name="{{field.slug}}"
                        class="{{field.classes?field.classes:''}} {{tips[step.slug][field.slug]?'invalid':''}}"
                        ng-model="form[step.slug][field.slug]"
                        ng-attr-placeholder="{{field.placeholder?field.placeholder:''}}"></textarea>
            </div>
            <div class="field-input" ng-if="field.tag == 'select'">
              <div ng-show="tips[step.slug][field.slug]" class="modal-tip">
                <div>{{tips[step.slug][field.slug]}}</div>
                <div class="tips-pointer">
                  <span class="tips-pointer-outer"></span>
                  <span class="tips-pointer-inner"></span>
                </div>
              </div>
              <select ng-change="validator(field.slug, step.slug)"  name="{{field.slug}}"
                        class="selectDirective {{field.classes?field.classes:''}} {{tips[step.slug][field.slug]?'invalid':''}}"
                        ng-attr-placeholder="{{field.placeholder?field.placeholder:''}}"
                        ng-model="form[step.slug][field.slug]"
                        ng-options="opt.text for opt in field.default">
              </select>
            </div>
          </div>
        </div>
        <div class="clear-float"></div>
      </div>
    </div>
    <div class="cross-modal-footer">
      <button class="btn" name="cancel" ng-show="modal.parallel"
              ng-click="close()">{{note.modal.cancel}}</button>
      <button ng-show="modal.stepIndex&&!modal.parallel" name="stepPrevious" class="btn"
              ng-click="stepPrevious()">{{note.modal.stepPrevious}}</button>
      <button ng-show="modal.stepIndex<modal.steps.length-1&&!modal.parallel" class="btn"
              name="stepNext" ng-click="stepNext()">{{note.modal.stepNext}}</button>
      <button  ng-show="modal.stepIndex==modal.steps.length-1||modal.parallel" class="btn"
              name="submit" type="submit" ng-click="handle()">{{note.modal.save}}</button>
    </div>
  </div>
</form>
